language: rust
cache: cargo
dist: trusty
os:
  - linux
  - osx

rust:
  - nightly
  - stable

before_script:
  - rustup component add rustfmt

script:
  - cargo fmt --all -- --check
  - cargo build
  - cargo test
